dummy/src/main/mule/dummy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a7411991-887e-49da-a51b-8d71e701fab8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dummyFlow" doc:id="e56cc035-17a9-4749-9c42-a88a09fbfc5c" >
		<http:listener doc:name="Listener" doc:id="9774d8b9-e14b-4740-aa32-dacad40bd2f8" config-ref="HTTP_Listener_config" path="/employees"/>
		<set-payload value="#[thisb will give dummy values]" doc:name="Set Payload" doc:id="5f7d5c60-1b04-4a3c-9046-814e01173a12" />
		<ee:transform doc:name="Transform Message" doc:id="3c5e7818-0a20-4c17-976f-3665049c07ea" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
